<div class="row">
  <div class="col-12 col-md-6 push-md-3">
    <header class="col-12 text-center app-sign-in-header">
      <h1>Join today!</h1>
    </header>

    <form [formGroup]="userDataForm"
          (ngSubmit)="submitForm()">
      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <!--<div [hidden]="username.valid || username.untouched"-->
          <!--class="alert alert-danger">-->
          <!--Username field can't be empty-->
          <!--</div>-->
          <input id="usernameField"
                 name="username"
                 class="form-control with-validation"
                 type="text"
                 aria-describedby="Username"
                 placeholder="Username"
                 formControlName="username">

          <!--#username="ngModel"-->
          <!--[(ngModel)]="userDataForm.username">-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <!--<div [hidden]="firstName.valid || firstName.untouched"-->
          <!--class="alert alert-danger">First name must be set!-->
          <!--</div>-->
          <input type="text"
                 id="firstNameField"
                 class="form-control with-validation"
                 aria-describedby="First name"
                 placeholder="First name"
                 name="firstName"
                 formControlName="firstName">

          <!--#firstName="ngModel"-->
          <!--[(ngModel)]="userDataForm.firstName">-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <input type="text"
                 id="lastNameField"
                 class="form-control with-validation"
                 aria-describedby="Last name"
                 placeholder="Last name"
                 name="lastName"
                 formControlName="lastName">

          <!--#lastName="ngModel"-->
          <!--[(ngModel)]="userDataForm.lastName">-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <!--<div [hidden]="lastName.valid || lastName.untouched"-->
          <!--class="alert alert-danger">First name must be set!-->
          <!--</div>-->
          <input type="password"
                 id="passwordField"
                 class="form-control with-validation"
                 aria-describedby="Password"
                 placeholder="Password"
                 name="password"
                 formControlName="password">

          <!--#lastName="ngModel"-->
          <!--[(ngModel)]="userDataForm.lastName">-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <input type="passwordAgain"
                 id="passwordAgainField"
                 class="form-control with-validation"
                 aria-describedby="Password (again)"
                 placeholder="Password (again)"
                 name="passwordAgain"
                 formControlName="passwordAgain">

          <!--#lastName="ngModel"-->
          <!--[(ngModel)]="userDataForm.lastName">-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-10">
          <button type="submit"
                  class="btn btn-primary col-12"
                  [disabled]="userDataForm.invalid">
            Submit
          </button>
        </div>
      </div>

      <div class="row">
        {{ userDataForm.value | json }}
      </div>
      <div class="row">
        {{userDataForm.get('passwordAgain').errors | json}}
      </div>

    </form>
  </div>
</div>
