<div class="col-12 col-md-6 push-md-3">
  <div class="row">
    <h1>Select files to upload</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="file"
             ng2FileSelect
             [uploader]="uploader"
             multiple/>
    </div>
  </div>

  <div class="row"
       *ngFor="let item of uploader.getNotUploadedItems()">
    <div class="col-md-5">
      <div class="row text-wrap">
        <span class="text-primary">Name :</span> {{item?.file?.name}}<br>
        <span class="text-primary">Size :</span> {{item.file.size}} bytes
      </div>
    </div>
    <div class="col-md-7">
      <button type="button"
              class="btn btn-success"
              (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload
      </button>
      <button type="button"
              class="btn btn-warning"
              (click)="item.cancel()"
              [disabled]="!item.isUploading">Cancel
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="item.remove()">Remove
      </button>
    </div>
  </div>

  <div *ngIf="(uploader.getNotUploadedItems().length > 0)"
       class="row">
    <button type="button"
            class="btn"
            (click)="uploader.uploadAll()">Upload all
    </button>
  </div>
</div>
