/* You can add global styles to this file, and also import other style files */
.ng-invalid:not(form) {
  border-left: 5px solid #A94442;
}

.ng-valid[required], .ng-valid.required, .ng-valid.with-validation {
  border-left: 5px solid #42A948;
}

.text-wrap {
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 0 !important;
}
