<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#mainNavbar"
            aria-controls="mainNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       href="#">Gateway</a>

    <div class="collapse navbar-collapse"
         id="mainNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/home"
             routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/upload"
             routerLinkActive="active">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/files"
             routerLinkActive="active">Files</a>
        </li>
      </ul>

      <ul class="navbar-nav pull-right">
        <li class="nav-item">
          <a routerLink="/login"
             routerLinkActive="active"
             class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/sign-in"
             routerLinkActive="active"
             class="nav-link">Sign In</a></li>
        <li class="nav-item">
          <a routerLink="/logout"
             routerLinkActive="active"
             class="nav-link">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>
