<div class="row">
  <div class="col-12">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloremque explicabo iusto laudantium molestias omnis
    quis suscipit. Alias asperiores dolores exercitationem iure, laudantium magni modi omnis quidem quis quos sunt.
  </div>
</div>
