<div class="row app-login">
  <div class="col-md-6 push-3">
    <form #loginForm="ngForm" (ngSubmit)="signIn()">
      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <div [hidden]="username.valid || username.untouched"
               class="alert alert-danger">
            Username field can't be empty
          </div>
          <input id="usernameField"
                 name="username"
                 class="form-control"
                 type="text"
                 aria-describedby="Username"
                 placeholder="Username"
                 required
                 #username="ngModel"
                 [(ngModel)]="credentials.username">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-12">
          <div [hidden]="password.valid || password.untouched"
               class="alert alert-danger">Please enter password
          </div>
          <input type="password"
                 class="form-control"
                 id="passwordField"
                 name="credentials.password"
                 placeholder="Password"
                 required
                 [(ngModel)]="credentials.password"
                 #password="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 push-sm-1 col-10">
          <button type="submit"
                  class="btn btn-primary col-12"
                  [disabled]="loginForm.form.invalid">Log in
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
